
      .hero-images {
        width: 50%;
        height: 100vh;
        position: relative;
        .hero-images-inner {
          .hero-image {
            position: absolute;
            overflow: hidden;
            &.girl {
              top: 0;
              right: 0px;
              width: 45%;
              height: 50%;
            }
            &.boy {
              bottom: 24px;
              left: 0px;
              width: 52%;
              height: 65%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
